<div class="container">
    <div class="image-section">
        <img src="log.png" style="height: 40px; width: auto;">
    </div>
    <div class="text-section">
      <h4 class="title">ParvuArt</h4>
      <h2 class="name">Dayanne Michelle Palma</h2>
      <p class="description">
        Maestra de Educación Primaria, especialista en Pedagogía Terapéutica...
        (Aquí coloca el resto del texto)
      </p>
      <div class="social-icons">
        <a href="https://www.facebook.com/PARVUARTESTIMULACIONTEMPRANA/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/parvuart_oficial/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@parvuart?lang=es"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.youtube.com/@ParvuArt"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  