<section class="section">
  <div class="container">
    <div class="image-section">
      <img src="img 1.jpeg" alt="Misión">
    </div>
    <div class="text-section text-left">
      <h2>Misión</h2>
      <p>
        En ParvuArt, nos dedicamos a apoyar el desarrollo integral de los niños a través de actividades lúdicas y consejos prácticos diseñados para estimular su crecimiento en todas las áreas. Nuestro objetivo es proporcionar herramientas efectivas y accesibles para que padres y cuidadores potencien las habilidades, capacidades y destrezas de sus hijos de manera acorde a su edad.
        Creemos que el juego es la base del aprendizaje y el desarrollo infantil, por lo que promovemos dinámicas innovadoras y estrategias didácticas que fomentan la creatividad, el pensamiento crítico y el desarrollo emocional. Nos comprometemos a ser una guía confiable en el proceso de estimulación temprana, ayudando a construir bases sólidas para un futuro lleno de logros y bienestar.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="text-section text-left">
      <h2>Visión</h2>
      <p>
        En ParvuArt, aspiramos a ser un referente en el ámbito de la estimulación temprana, promoviendo el aprendizaje a través del juego y la interacción como pilares fundamentales en el desarrollo infantil. Nuestra meta es concienciar a padres, maestros y cuidadores sobre la importancia de una educación basada en experiencias significativas, donde cada niño pueda explorar, descubrir y potenciar sus habilidades de manera natural y divertida.
        Queremos construir una comunidad donde el conocimiento sobre estimulación temprana sea accesible y valorado, fomentando prácticas educativas innovadoras que ayuden a fortalecer el vínculo entre adultos y niños. Creemos que al brindar herramientas adecuadas y orientación especializada, podemos contribuir a la formación de futuras generaciones más creativas, seguras y emocionalmente equilibradas.
      </p>
    </div>
    <div class="image-section">
      <img src="img 2.jpeg" alt="Visión">
    </div>
  </div>
</section>

<!-- Sección de información personal -->
<div class="container">
  <div class="image-section">
    <img src="perfil.jpg">
  </div>
  <div class="text-section">
    <h4 class="title">ParvuArt</h4>
    <h2 class="name">Dayanne Michelle Palma</h2>
    <p class="description">
      Soy Dayanne Michelle Palma Laura, Licenciada en Ciencias de la Educación con mención en Profesora Parvularia, 
      Formadora de Formadores y Máster en Necesidades Educativas Específicas.También cuento con una certificación en Gestión Administrativa por competencias laborales.
      Mi pasión es la educación infantil y la estimulación temprana, implementando metodologías innovadoras para potenciar el 
      desarrollo y aprendizaje de los niños. Busco brindar herramientas y conocimientos   
      que contribuyan a una educación de calidad, basada en el respeto, la creatividad y la exploración.
      ¡Encantada de compartir mi experiencia contigo!
    </p>
    <div class="social-icons">
      <a href="https://www.facebook.com/PARVUARTESTIMULACIONTEMPRANA/"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/parvuart_oficial/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.tiktok.com/@parvuart?lang=es"><i class="fab fa-tiktok"></i></a>
      <a href="https://www.youtube.com/@ParvuArt"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
