<section class="section">
  <div class="container">
    <div class="image-section">
      <img src="logo.png" alt="Misión">
    </div>
    <div class="text-section text-left">
      <h2>Misión</h2>
      <p>
        En ParvuArt, nuestra misión es inspirar y conectar a las personas a través del arte, 
        creando piezas únicas que reflejan emociones, cultura y creatividad. Nos esforzamos 
        por ofrecer productos de alta calidad que transmitan pasión y autenticidad.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="text-section text-left">
      <h2>Visión</h2>
      <p>
        Ser una marca reconocida a nivel global por su innovación y excelencia en el mundo del arte, 
        expandiendo nuestra comunidad y llevando nuestras creaciones a más personas alrededor del mundo. 
        Queremos ser un referente de creatividad, expresión y conexión artística.
      </p>
    </div>
    <div class="image-section">
      <img src="logo.png" alt="Visión">
    </div>
  </div>
</section>

<!-- Sección de información personal -->
<div class="container">
  <div class="image-section">
    <img src="log.png" style="height: 40px; width: auto;">
  </div>
  <div class="text-section">
    <h4 class="title">ParvuArt</h4>
    <h2 class="name">Dayanne Michelle Palma</h2>
    <p class="description">
      Maestra de Educación Primaria, especialista en Pedagogía Terapéutica...
      (Aquí coloca el resto del texto)
    </p>
    <div class="social-icons">
      <a href="https://www.facebook.com/PARVUARTESTIMULACIONTEMPRANA/"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/parvuart_oficial/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.tiktok.com/@parvuart?lang=es"><i class="fab fa-tiktok"></i></a>
      <a href="https://www.youtube.com/@ParvuArt"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
